
:root{
    --primary-color: #27374D;
    --secondary-color: #526D82;
    --acent-color-1: #9DB2BF;
    --acent-color-2 : #fff;
    --accent-color-3: #DDE6ED;
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.fa-bars{
    display: none;
}

.container header{
    background-color: var(--primary-color);
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .image-name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

header .image-name h2{
    color: var(--accent-color-3);
    margin-left: 2rem;
    font-weight: 500;
    font-size: calc(1rem + 1vw);
}

.container .image-name .image{
    max-width: calc(3.75rem + 2vw);
    height: auto;
}

.container .image-name .image img{
    width: 100% ;
    height: calc(3.75rem + 2vw);
    object-fit: cover;
    aspect-ratio: 1 / 1;
    object-position: top;
    border-radius: 50%;
    padding: 0.1rem;
    background-color: var(--acent-color-1);
    border: 1px solid var(--accent-color-3);
}

nav{
    background-color: var(--accent-color-3);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.4rem 1rem;
    font-size: 0.95rem;
    font-weight: 600;
}

nav a:hover{
    color: var(--accent-color-3);
    background-color: var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
}

main{
    grid-column: 1 / 13;
    grid-row: 2/ 12;
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0.75rem;
}

main h1{
 grid-column: 1 / 13;
 grid-row: 1 ;
 margin: 0;
 align-self: flex-end;
 color: var(--primary-color);
 font-size: calc(1rem + 0.7vw);
}

.main, .aside {
    display: flex;
    flex-direction: column;
}

.main{
    grid-column: 1 / 9;
    grid-row: 2 / 8;
    box-shadow: 0 0 02px var(--accent-color-3);
}
.main ul{
    padding: 1rem 2rem;
}

ul li{
    color: var(--primary-color);
}

.aside{
    grid-column: 9 / 13;
    grid-row: 2 / 8;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px var(--accent-color-3);
}

.aside figure{
    max-width: 350px;
    align-self: center;
    padding: 1rem;
}

.aside figure img{
    width: 100%;
}

.main h2, .aside  h2{
    text-align: center;
    font-weight: 700;
    font-size: calc(0.8rem + 0.2vw);
    color: var(--primary-color);
    background-color: var(--accent-color-3);
    padding: 1rem;
}

figcaption{
    text-align: center;
    padding: 0.5rem;
    color: var(--primary-color);
    font-weight: 500;
    font-size: calc(0.75rem + 0.2vw);
}

.classes {
    grid-column: 1 / 13;
    grid-row: 8 / 13;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    box-shadow: 0 0 5px var(--accent-color-3);
}

.classes .heading{
    color: var(--primary-color);
    font-size: calc(1rem + 0.6vw);
}

.classes button{
    border: none;
    font-weight: 500;
    font-size: calc(0.7rem + 0.3vw);
}

.classes .dept button{
    background-color: var(--accent-color-3);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.3rem 3rem;
    border-radius: 3px;
    border: 1px solid var(--acent-color-1);
}

.classes .dept button:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--accent-color-3);
}

.classes .subjects{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}


.classes .subjects div{
    border-radius: 2px;
    font-weight: 700;
    text-align: center;
    padding: 0.7rem;
}

.classes .subjects div p{
    font-weight: 500;
    font-size: calc(0.75rem + 0.3vw);
}
.class-complete{
    background-color: var(--primary-color);
    color: var(--acent-color-2);
}

.class-odinary{
    background-color: var(--accent-color-3);
    color: var(--primary-color);
}

footer{
    grid-column: 1 / 13;
    grid-row: 12 / 13;
    background-color: var(--primary-color);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
}

footer p{
    color: var(--acent-color-2);
    font-size: calc(.75rem + 0.1vw);
    font-weight: 300;
    padding: 0.3rem;
}
  

/*media query @max width 768px */

@media (max-width: 768px){

    body{
        min-height: fit-content;
        overflow: auto;
    }
    .container{
        display: flex;
        flex-direction: column;
    }

    .container{
        position: relative;
    }

    nav{
        position: fixed;
        right: 0;
        height: 100%;
        width: 28%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 0;
    }

    .fa-bars{
        z-index: 1;
        background-color: var(--primary-color);
        padding: 0.3rem;
        border-radius: 3px;
    }

    .fa-bars:hover{
        cursor: pointer;
    }

    .none{
        display: none;
    }
    
    .show{
        
        display: flex;
     
    }

    .show a{
        font-size: 0.8rem;
        font-weight: 700;
        margin-bottom: 3rem;
        padding: 0.5rem ;
    }

    .container .image-name{
        justify-content: flex-start;
        padding: 0 1rem;
        
    }

    .fa-bars{
        display: block;
        color: var(--accent-color-3);
        width: 32px;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    main h1 {
        align-self: flex-start;
        padding: 0.5rem 0;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 1rem;
    }
    .aside figure{
        max-width: 100%;
        align-self: center;
        padding: 1rem;
    }
    
    .aside figure img{
        width: 100%;
    }

    .classes{
        grid-row: 9 / 13;
        min-height:fit-content;
    }

    .classes h2{
       font-size: 1.3rem;
       text-align: center;
       margin: 1rem 0;
    }

    .classes .dept{
        display: flex;
        margin-bottom: 1rem;
    }

    .classes .dept button{
        margin: 0.8rem;
        padding: 0.4rem 1.6rem;
    }

    .classes .subjects div{
        border-radius: 2px;
        font-weight: 700;
        text-align: center;
    }
    
    .class-complete{
        background-color: var(--primary-color);
        color: var(--acent-color-2);
    }
    
    .class-odinary{
        background-color: var(--accent-color-3);
        color: var(--primary-color);
    }

    footer{
        margin-top: 0.8rem;
        justify-content: space-around;
        padding: 1rem;
    }
}