
:root{
    --primary-color: #16423C;
    --secondary-color: #6A9C89;
    --acent-color-1: #C4DAD2;
    --acent-color-2 : #fff;
    --accent-color-3: #E9EFEC;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.fa-bars{
    display: none;
}

.container header{
    background-color: var(--primary-color);
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .image-name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

header .image-name h1{
    color: var(--accent-color-3);
    margin-left: 2rem;
    font-weight: 500;
    font-size: calc(1rem + 1vw);
}

.container .image-name .image{
    max-width: calc(3.75rem + 2vw);
    height: auto;
}

.container .image-name .image img{
    width: 100% ;
    height: calc(3.75rem + 2vw);
    object-fit: cover;
    aspect-ratio: 1 / 1;
    object-position: top;
    border-radius: 50%;
    padding: 0.2rem;
    background-color: var(--acent-color-1);
    border: 1px solid var(--acent-color-2);
}

nav{
    background-color: var(--accent-color-3);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.4rem 1rem;
    font-size: 0.95rem;
    font-weight: 600;
}

nav a:hover{
    color: var(--accent-color-3);
    background-color: var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
}

main{
    background-color: var(--acent-color-2);
    grid-column: 1 / 9;
    grid-row: 2/ 8;
    margin: 2rem 2rem 0 2rem;
    border-radius: 8px;
    border: 1px solid var(--acent-color-1);
}

main article, aside article{
    background-color: var(--accent-color-3);
    box-shadow: 0 0 5px var(--acent-color-1);
    color: var(--primary-color);
    padding: 0.1rem 0;
}


main article h2, aside article h2{
    text-align: center;
    font-weight: 700;
    font-size: calc(0.8rem + 0.2vw);
    color: var(--primary-color);
}


ul li{
    color: var(--primary-color);
}

aside{
    grid-column: 9 / 13;
    grid-row: 2 / 8;
    margin: 2rem 2rem 0rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--acent-color-1);
}

aside .country{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

aside .country img{
    width: 100%;
    height: auto;
}

figcaption{
    text-align: center;
    padding: 0.5rem;
    color: var(--primary-color);
    font-weight: 500;
    font-size: calc(0.75rem + 0.2vw);
}



.classes{
    grid-column: 1 / 13;
    grid-row: 8 / 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 2rem;
    padding: 0.5rem;
    margin-top: 1rem;
    box-shadow: 0 0 5px var(--acent-color-1);
}

.classes .heading{
    color: var(--primary-color);
    font-size: calc(1rem + 0.6vw);
}

.classes button{
    border: none;
    font-weight: 500;
    font-size: calc(0.7rem + 0.3vw);
}

.classes .dept button{
    background-color: var(--primary-color);
    color: var(--accent-color-3);
    padding: 0.3rem 3rem;
    border-radius: 3px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
}

.classes .dept button:hover{
    background-color: var(--accent-color-3);
    color: var(--primary-color);
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.classes .subjects{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}


.classes .subjects div{
    border-radius: 2px;
    font-weight: 700;
    text-align: center;
}
.class-complete{
    background-color: var(--primary-color);
    color: var(--acent-color-2);
}

.class-odinary{
    background-color: var(--acent-color-1);
    color: var(--primary-color);
}

footer{
    grid-column: 1 / 13;
    grid-row: 12 / 13;
    background-color: var(--primary-color);
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: var(--accent-color-3);
    font-size: 0.8rem;
}

/*media query @max width 768px */

@media (max-width: 768px){

    body{
        min-height: fit-content;
        overflow: auto;
    }
    .container{
        display: flex;
        flex-direction: column;
    }

    .container{
        position: relative;
    }

    nav{
        position: fixed;
        right: 0;
        height: 100%;
        width: 28%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 0;
    }

    .fa-bars{
        z-index: 1;
        background-color: var(--primary-color);
        padding: 0.3rem;
        border-radius: 3px;
    }

    .fa-bars:hover{
        cursor: pointer;
    }

    .none{
        display: none;
    }
    
    .show{
        
        display: flex;
     
    }

    .show a{
        font-size: 0.8rem;
        font-weight: 700;
        margin-bottom: 3rem;
        padding: 0.5rem ;
    }

    .container .image-name{
        justify-content: flex-start;
        padding: 0 1rem;
        
    }

    .fa-bars{
        display: block;
        color: var(--accent-color-3);
        width: 32px;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    main, aside {
        margin: 2rem 1rem 0 1rem; 
    } 

    .classes{
        min-height:fit-content;
        margin: 2rem  1rem;
    }

    .classes h2{
       font-size: 1.3rem;
       text-align: center;
       margin: 1rem 0;
    }

    .classes .dept{
        display: flex;
        margin-bottom: 1rem;
    }

    .classes .dept button{
        margin: 0.8rem;
        padding: 0.4rem 1.6rem;
    }

    footer{
        margin: 0;
        padding: 2rem 0;
        flex-direction: column;
    }

}